@using System.Data
@model prjMessageBoard_v2.Models.MessageBoardViewlModel.ReplyEditor

@{
    ViewBag.Title = "編輯回覆留言";
}

<h2>編輯回覆留言</h2>

<form method="post" action="@Url.Action("UpdateReply","Reply")">
    <div>
        <input type="number" name="replyID" value="@Model.ID" class="hidden" />
        <input type="number" name="messageID" value="@Model.MessageID" class="hidden" />
        <input type="number" name="memberID" value="@Session["MemberID"]" class="hidden" />
        <p>修改內容:</p>
        <p>
            <textarea cols="50" rows="3" name="newContent" placeholder="一則留言回覆上限為50字"
                      maxlength="50" required>@Model.ReplyContent</textarea>
        </p>
        <p><input type="submit" value="確認" onclick="return confirm('確認修改回覆嗎?')" /></p>
    </div>
</form>
