@using prjMessageBoard_v2.Models
@model List<MessageBoardViewlModel.Discussion>


@{
    ViewBag.Title = "留言列表";
}

<h2>留言列表</h2>


<form method="get" action="/Message/SearchMessage">
    <input type="text" name="keyword" placeholder="輸入標題關鍵字搜尋留言" />
    <input type="submit" value="搜尋" />
</form>
<br />

<table class="table">
    <tr>
        <th>留言編號</th>
        <th>標題</th>
        <th>留言者(帳號/名稱)</th>
        <th>留言時間</th>
    </tr>

    @if (Model.Count == 0)
    {
        <tr>
            <td></td>
            <td></td>
            <td>@ViewBag.Alert</td>
            <td></td>
        </tr>
    }

    else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].MessageID</td>
                <td>
                    <a href=@Url.Action("GetDiscussionContent",new { MessageID = @Model[i].MessageID })>
                     @Model[i].Title
                    </a>
                </td>
                <td>@Model[i].Account (@Model[i].Name)</td>
                <td>@Model[i].CreateTime</td>
            </tr>
        }
    }
</table>
