@using System.Data
@model System.Data.DataTable

@{
    ViewBag.Title = "編輯留言";
}

<h2>編輯留言</h2>

<div>
    <form method="post" action="@Url.Action("UpdateMessage")">
        <div>
            <input type="number" name="MessageID" value="@Model.Rows[0]["ID"]" class="hidden" />
            <input type="number" name="MemberID" value="@Session["MemberID"]" class="hidden" />
            <p>留言標題:<input type="text" name="NewTitle" value="@Model.Rows[0]["Title"]" 
                           maxlength="20" required /></p>
            <p>內容</p>
            <textarea cols="50" rows="5" name="NewContent" placeholder="此數輸入留言．．．(輸入上限為500字)"
                      maxlength="500" required>@Model.Rows[0]["Content"]</textarea>
            <p><input type="submit" value="確認編輯" onclick="return confirm('確定修改留言嗎?')" /></p>
        </div>
    </form>
</div>

